//ABOUT PAGE *****

// #tr8-background {
//   background: url("../../IMG/tr8-img.jpg");
//   background-blend-mode: overlay;
//   opacity: 0.6;

//   height: 100vh;
//   width: 100vw;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
// }

.quotes-page {
  // background: url("../../IMG/tr8-img.jpg");
  background-blend-mode: lighten;
  background: black;
  overflow: hidden;
  opacity: 0.9;
  background: #c33764;
  background: -webkit-linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8)), url("../../IMG/tr8-img.jpg");
  background: linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8)), url("../../IMG/tr8-img.jpg");
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

// about page

.feature-circles {
  display: flex;
  width: 100vw;
  // border: 5px solid #fff;
  transform: rotate(16deg);
  justify-content: flex-end;
  margin-top: 11px;
  height: 162px;
  border-radius: 8%;
  flex-direction: row;
  background-color: #dcdcdc;
  background-blend-mode: lighten;
  background: -webkit-linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8));
  background: linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8));
}

@media only screen and (max-width: 480px) {
  .feature-circles {
    height: 110px;
  }
}

.circles {
  border: 3px solid #fff;
  color: black;
  height: 100px;
  width: 100px;
  display: flex;
  margin: 50px;
  background: none;
  border-radius: 50%;
  text-shadow: 2px 1px 30px rgba(16, 12, 11, 0.5);
  box-shadow: 0 24px 43px 1px #000;
}

.circles:hover {
  cursor: pointer;
  background-color: rgb(31, 0, 41);
  // transform: translateY(4px);
  opacity: 0.8;
}

.color-hover {
  background-color: rgb(31, 0, 41);
  transform: translateY(4px);
}

.color-btn {
  background-color: none;
}

i.fas.fa-mobile {
  font-size: 50px;
  display: flex;
  align-items: center;
  padding-left: 34px;
  flex-direction: row;
}

i.fas.fa-laptop-code {
  font-size: 50px;
  display: flex;
  align-items: center;
  padding-left: 19px;
  flex-direction: row;
}

i.fas.fa-glasses {
  font-size: 50px;
  display: flex;
  align-items: center;
  padding-left: 22px;
  flex-direction: row;
}

i.fas.fa-user-astronaut {
  font-size: 50px;
  display: flex;
  align-items: center;
  padding-left: 27px;
  flex-direction: row;
}

.dark {
  background: unset;
  background: black;
}
.box-text {
  display: none;
  border: 3px solid white;
  height: auto;
  width: 500px;
  padding: 10px;
  margin: 45px;
  color: white;
}

.hide {
  display: block;
  color: white;
  background: black;
  box-shadow: 0 24px 43px 1px #000;
}

.tester666 {
  background: black;
}

@media only screen and (max-width: 480px) {
  i.fas.fa-mobile {
    font-size: 25px;
    padding: 17px;
  }
}

@media only screen and (max-width: 480px) {
  i.fas.fa-laptop-code {
    font-size: 25px;
    padding: 10px;
  }
}

@media only screen and (max-width: 480px) {
  i.fas.fa-user-astronaut {
    font-size: 25px;
    padding: 15px;
  }
}

@media only screen and (max-width: 480px) {
  i.fas.fa-glasses {
    font-size: 25px;
    padding: 12px;
  }
}

@media only screen and (max-width: 480px) {
  .circles {
    width: 50px;
    height: 50px;
    margin: 9px;
  }
}
